{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="editor.css"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'editor.css' %}">

</head>
<body data-spy="scroll" data-offset="125" onload="crtsec()">

  <div class="container-fluid" style="background-color:rgb(102, 204, 255); height: 70px; text-align: center;">
    <a href="/user/" style="float: left;">Dashboard</a>
    <h2 style="display: inline;">create your form</h2>
    <a href="/user/preview/{{form.survey.id}}" style="float: right;">Preview</a>

  </div>

  <div class="container-fluid" style="background-color:rgb(255, 153, 0);">
    <input type="text" name="form_title" id="form_title1" class="form_ttl" value="{{form.survey.title}}">
    <input type="text" name="form_desc" id="form_desc1" class="form_ttl" value="{{form.survey.desc}}">
    <span> accept response till :-</span>
    <input type="datetime-local" name="form_exdate" id="form_exdate1" class="form_ttl" 
                                      style="width: fit-content;" value="{{form.survey.endDate|date:'Y-m-d\TH:i'}}">
    /
  </div>
  <!-- buttons -->
  <div data-spy="affix" data-offset-top="125" class="container-fluid" 
    style="background-color: rgb(255, 102, 255); text-align: center; ">

    <button onclick="crtQ()" style="margin: 8px; font-size: 20px;"> Add a question </button>
    <p style="display: inline;">to section</p>
    <select id="selected_sec" style="display: inline; font-size:20px;"></select>
    <button onclick="crtsec()" style="margin: 8px; font-size: 20px;"> New section </button>

      <form id="save_form" action="/user/editor/{{form.survey.id}}" method="POST" style="display: inline;">
        {% csrf_token %}
        <div style="display: none;">
        <input name="sec_del"   id="sec_del" style="width: 100%;"> <br>
        <input name="q_del"     id="q_del" style="width: 100%;"> <br>
        <input name="sur_update" id="sur_update" style="width: 100%;"> <br>
        <input name="sec_update" id="sec_update" style="width: 100%;"> <br>
        <input name="q_update"  id="q_update" style="width: 100%;"> <br>
        </div>
        <input type="submit" onclick="show()" value="Save" style="margin: 8px; font-size: 20px;">
      </form>

  </div>     
    
  <!-- all question -->
  <div class="container-fluid container" style="background-color:yellow; width: 100%;">
    <h3>Preview</h3>
    <ol id="seclist"></ol>

  </div>
  
  <!-- all functions are here -->
  <script src="{% static 'editor.js' %}"></script>
  
</body>
</html>
